<h1>Preguntas</h1>

<table>
  <tr>
    <th>Contenido</th>
    <th>Respuesta correcta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.content %></td>
    <td><%= question.correct_answer %></td>
    <td><%= link_to 'Mostrar', question %></td>
    <td><%= link_to 'Editar', edit_question_path(question) %></td>
    <td><%= link_to 'Destruir', question, :confirm => 'Estas seguro(a)?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Pregunta', new_question_path %>
