<p id="notice"><%= notice %></p>

<p>
  <b>Contenido:</b>
  <%= @question.content %>
</p>

<p>
  <b>Respuesta correcta:</b>
  <%= @question.correct_answer %>
</p>

<ol>
<% for answer in @question.answers %>
  <li>
    <%=h answer.content %>
  </li>
<% end %>
</ol>


<%= link_to 'Editar', edit_question_path(@question) %> |
<%= link_to 'Regresar', questions_path %>
