<h1>Quizzes</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quizzes.each do |quiz| %>
  <tr>
    <td><%= quiz.user_id %></td>
    <td><%= link_to 'Mostrar', quiz %></td>
    <td><%= link_to 'Editar', edit_quiz_path(quiz) %></td>
    <td><%= link_to 'Destruir', quiz, :confirm => 'Estas seguro(a)?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Quiz', new_quiz_path %>
