<h1>Registro</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h3>Datos Personales</h3>
  <div class="registro">

	  <p><%= f.label :matricula %><br />
	  <%= f.text_field :matricula %></p>

	  <p><%= f.label :nombre %><br />
	  <%= f.text_field :nombre %></p>

	  <p><%= f.label :apellido_paterno %><br />
	  <%= f.text_field :apellido_paterno %></p>

	  <p><%= f.label :apellido_materno %><br />
	  <%= f.text_field :apellido_materno %></p>

	  <p><%= f.label :sexo %><br/>
	  <%=f.radio_button :sexo, 'Hombre' %>
	  <%= f.label :sexo, 'Hombre' %>
	  <%=f.radio_button :sexo, 'Mujer' %>
	  <%= f.label :sexo, 'Mujer' %></p>

	  <p><%= f.label :email %><br />
	  <%= f.text_field :email %></p>

	  <p><%= f.label :password, 'Contraseña' %><br />
	  <%= f.password_field :password %></p>

	  <p><%= f.label :password_confirmation, 'Confirmacion de contraseña' %><br />
	  <%= f.password_field :password_confirmation %></p>

  </div>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
