<h1>Modulo Administrador</h1>
<br/>
<%= link_to "Areas", areas_path %> <br />
<%= link_to "Carreras", majors_path %> <br />
<%= link_to "Cursos", courses_path %> <br />
<%= link_to "Periodos", periods_path %> <br />
<%= link_to "Preguntas", questions_path %> <br />
<%= link_to "Quizzes", quizzes_path %> <br />

