<h1>Periodos</h1>

<table>
  <tr>
    <th>Mes</th>
    <th>Ano</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.mes %></td>
    <td><%= period.ano %></td>
    <td><%= link_to 'Mostrar Alumnos', period %></td>
    <td><%= link_to 'Editar', edit_period_path(period) %></td>
    <td><%= link_to 'Destruir', period, :confirm => 'Estas seguro(a)?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />



<%= link_to 'Nuevo Periodo', new_period_path %>
