<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Matrícula</th>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Semestre</th>
    <th>Carrera</th>
    <th></th>
  </tr>

<% @usuarios.each do |user| %>
  <tr>
    <td><%= user.matricula %></td>
    <td><%= user.nombre %>&nbsp;<%= user.apellido_paterno %>&nbsp;<%= user.apellido_materno %></td>
    <td><%= user.email %></td>
    <td><%= user.semestre %></td>
    <td><%= user.major_id %></td>
  </tr>
<% end %>
</table>

<%= link_to "Generar Excel", "#{period_path(@period)}.xls" %>


<%= link_to 'Editar', edit_period_path(@period) %> |
<%= link_to 'Regresar', periods_path %>
