<h1>Usuarios</h1>

<table>
  <tr>
    <th>Matricula</th>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Semestre</th>
    <th>Carrera</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.matricula %></td>
    <td><%= user.nombre %>&nbsp;<%= user.apellido_paterno %>&nbsp;<%= user.apellido_materno %></td>
    <td><%= user.email %></td>
    <td><%= user.semestre %></td>
    <td><%= user.major_id %></td>
  </tr>
<% end %>
</table>

<br />

<a href="index.xls">Generar Excel</a>
