<%= form_for(@major) do |f| %>
  <% if @major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@major.errors.count, "error") %> No se puede grabar esta carrera:</h2>

      <ul>
      <% @major.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br />
    <%= f.text_field :sigla %>
  </div>
  
  <div class="field">
		<%= f.label 'area_1' %><br />
		<%= f.select("area_1", Area.all.collect{|a| [a.nombre, a.id]})%>
  </div>
  
  <div class="field">
		<%= f.label 'area_2' %><br />
		<%= f.select("area_2", Area.all.collect{|a| [a.nombre, a.id]},{:include_blank=>true})%>
  </div>
    
  <div class="field">
		<%= f.label 'area_3' %><br />
		<%= f.select("area_3", Area.all.collect{|a| [a.nombre, a.id]},{:include_blank=>true})%>
  </div>
    
  <div class="field">
		<%= f.label 'area_4' %><br />
		<%= f.select("area_4", Area.all.collect{|a| [a.nombre, a.id]},{:include_blank=>true})%>
  </div>
    
  <div class="field">
		<%= f.label 'area_5' %><br />
		<%= f.select("area_5", Area.all.collect{|a| [a.nombre, a.id]},{:include_blank=>true})%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
