<h1>Carreras</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Sigla</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @majors.each do |major| %>
  <tr>
    <td><%= major.nombre %></td>
    <td><%= major.sigla %></td>
    <td><%= link_to 'Mostrar', major %></td>
    <td><%= link_to 'Editar', edit_major_path(major) %></td>
    <td><%= link_to 'Destruir', major, :confirm => 'Estas seguro(a)?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Carrera', new_major_path %>
