<h1>Áreas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @areas.each do |area| %>
  <tr>
    <td><%= area.nombre %></td>
    <td><%= link_to 'Mostrar', area %></td>
    <td><%= link_to 'Editar', edit_area_path(area) %></td>
    <td><%= link_to 'Destruir', area, :confirm => 'Estas seguro(a)?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Área', new_area_path %>
