<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> No se puede grabar este curso:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label 'area' %><br />
    <%
        @nombres = []
        @areas=Area.find(:all, :order => "nombre")
        @areas.each do |area|
            @nombres << area.nombre
        end
    %>
    <%= select_tag 'area', options_for_select(@nombres)%>
  </div>


  </div>
  <div class="actions">
    <%= f.submit "Crear curso"%>
  </div>
<% end %>
