<!DOCTYPE html>
<html>
<head>
  <title>Prep@Net</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes "silver" %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
	<div class="redondo">
	    	<%= image_tag ("arribaRedondo.png")%>
	</div>
	<div class="centro">
		<img src="/images/bannerInicio.png" class="banner"/>
		<div class="menu">
			<table class="menu">
				<tr class="menu">
					<td class="menu">
						<%= link_to "Inicio", home_index_path %>
					</td>

					<% if !user_signed_in?%>
					<td class="menu">
						<%= link_to "Ingresar", new_user_session_path %>
					</td>
					<% end %>

					<% if !user_signed_in? %>
					<td class="menu">
						<%= link_to "Registro", new_user_registration_path %>
					</td>
					<% end %>

					<td class="menu">
					<% if user_signed_in?%>
						<%= link_to "Materias", edit_user_registration_path %>
					<%else %>
						<%= link_to "Materias", lista_path%>
					<%end%>
					</td>

					<td class="menu">
						<%if !user_signed_in?%>
							<%= link_to "Quiz", desconocido_path%>
						<%else%>
							<%if current_user.completo%>
								<%= link_to "Quiz", completado_path%>
							<%else%>
								<%= link_to "Quiz", new_quiz_path %>
							<%end%>
						<%end%>
					</td>

					<td class="menu">
						<%= link_to "Reglamento", term_index_path %>
					</td>
					<%if user_signed_in?%>
					<% if current_user.admin?%>
						<td class="menu">
							<%= link_to "Administracion", admin_index_path %>
						</td>
					<% end %>
					<% end %>
					<% if user_signed_in? %>
					<td class="menu">
						<%= link_to "Cerrar Sesion", destroy_user_session_path %>
					</td>
					<% end %>
				</tr>
			</table>
		</div>


		<div class="contenido">
		<br/>
		<%= yield %>
		</div>
	</div>
	<div id="footer">
	  <div id="minfooter">
	  <hr />
	  Contáctanos:	  prepanet.mty@itesm.mx
	  <br />
	  <a href="http://www.itesm.mx/prepanet/">Prepanet Nacional</a>
	  </div>
	</div>

	<div class="redondo">
	    	<%= image_tag ("abajoRedondo.png")%>
	</div>
</body>
</html>
