<!DOCTYPE html>
<html>
<head>
  <title>Prep@Net</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes "silver" %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
	<div class="redondo">
	    	<img src="/images/arribaRedondo.png" />
	</div>
	<div class="centro">
		<img src="/images/bannerInicio.png" class="banner"/>
		<div class="menu">
			<table class="menu">
				<tr class="menu">
					<td class="menu">
						<%= link_to "Registro", :controller => "devise/registrations", :action => "new" %>
					</td>
					<td class="menu">Quiz</td>
					<td class="menu">
						<%= link_to "Editar Cuenta", :controller => "devise/registrations", :action => "edit" %>
					</td>
					<td class="menu">Administracion</td>
				</tr>
			</table>
        	</div>
		<div class="contenido">
		<br/>
		<%= yield %>
		</div>
	</div>
	<div class="redondo">
	    	<img src="images/abajoRedondo.png" />
	</div>
</body>
</html>
