<!DOCTYPE html>
<html>
<head>
  <title>Prep@Net</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes "silver" %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
	<div class="redondo">
	    	<img src="/images/arribaRedondo.png" />
	</div>
	<div class="centro">
		<img src="/images/bannerInicio.png" class="banner"/>
		<div class="menu">
			<table class="menu">
				<tr class="menu">
					<td class="menu">
						<%= link_to "Registro", new_user_registration_path %>
					</td>
					<% if user_signed_in? %>
						<td class="menu">Quiz</td>
					<% end %>
					<td class="menu">
						<% if user_signed_in? %>
							<%= link_to "Editar Cuenta", edit_user_registration_path %>
						<% else %>
							<%= link_to "Iniciar Sesion", new_user_session_path %>
						<% end %>
					</td>
					<% if can? :all, Area %>
						<td class="menu">Administracion</td>
						</td>
					<% end %>
				</tr>
			</table>
			<% if user_signed_in? %>
				<table class="menu">
					<tr>
						<td class="menu">	
							Hola <b><%= current_user.nombre %></b>
						</td>
						<td class="menu">
							<%= link_to "Cerrar Sesion", destroy_user_session_path %>
						</td>
					</tr>
				</table>
			<% end %>
        	</div>
		<div class="contenido">
		<br/>
		<%= yield %>
		</div>
	</div>
	<div class="redondo">
	    	<img src="images/abajoRedondo.png" />
	</div>
</body>
</html>
